In [ ]:
# Evelina Ramoskaite
import pandas as pd
import csv
# Tweet Rating Code
fileName= input('FileName:')
stock= input('hashtag ticker for file:')
data = pd.read_csv(fileName)
print('There are {} records in this dataset.'.format(len(data)))
print('1- negative, 2- neutral, 3- positive')
print('to quit, type quit.')

# Decoding the text columns
import ast
data.tweet_text = data['tweet_text'].apply(ast.literal_eval).str.decode("utf-8")
data[' username']= data[' username'].apply(ast.literal_eval).str.decode("utf-8")

ratings = []
count= 0
for i in data.tweet_text:
    print(i)
    rating = input('Rate(1/2/3):')
    if rating == "":
        rating = input('Rate(1/2/3):')
    ratings.append(rating)
    count += 1
    if count//50:
        print('count: {} , total left: {}'.format(count,len(data)-count))
    if rating == 'quit':
        dict = {'rating': ratings}
        ratingData = pd.DataFrame(dict)
        ratingData.to_csv('rated_{}_inc.csv'.format(stock))
        break
data['target'] =ratings
data.target
data.to_csv('rated_{}.csv'.format(stock))

In [2]:
data.head(5)

,timestamp,tweet_text,all_hashtags,retweet_count,tweet_created_at,username,followers_count
0,2021-04-28 23:59:58,This is finally rising to the surface!! On wh...,[],2,2021-04-28 23:59:58,AwyeeDeaterBob,3638
1,2021-04-28 23:59:57,#Investing 43.8% in this optimal #crypto portf...,"['Investing', 'crypto', 'cash', 'Bitcoin', 'ri...",0,2021-04-28 23:59:57,CryptoWatchBot,2037
2,2021-04-28 23:59:55,Crypto Currency Whale Makes M Bitcoin Wager on...,[],0,2021-04-28 23:59:55,FintechSE,205
3,2021-04-28 23:59:55,@RealisticCrypt1 Bitcoin hits $63k. Take this ...,"['Binance', 'bitcoin', 'Bitcoin', 'Btc', 'inve...",0,2021-04-28 23:59:55,buren_tom,34
4,2021-04-28 23:59:55,@spectatorindex Can some expert of crypto curr...,[],1,2021-04-28 23:59:55,AbabeelTheBird,181